# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea
# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Streamlit cache
.streamlit/


# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment config
.env

# Logs
*.log
